<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>upload-demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FileSelect</servlet-name>
    <servlet-class>test.FileSelection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileSelect</servlet-name>
    <url-pattern>/TomcatTest/FileSelection</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DatabaseAccess</servlet-name>
    <servlet-class>test.DatabaseAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseAccess</servlet-name>
    <url-pattern>/TomcatTest/DatabaseAccess</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>test.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/TomcatTest/Download</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>test.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/TomcatTest/Upload</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>FileDelete</servlet-name>
    <servlet-class>test.FileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDelete</servlet-name>
    <url-pattern>/TomcatTest/FileDelete</url-pattern>
  </servlet-mapping>
</web-app>